.columns {
    display: grid;
    grid-template-columns:
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
            0,
            1fr
        )
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
            0,
            1fr
        )
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-auto-flow: dense; /* fills in the spaces */
    grid-template-rows: minmax(0, 1fr);
    gap: rem(57);
    @include r(1920) {
        gap: rem(39);
    }
    @include r(1280) {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        gap: 0;
    }
    &__column {
        position: relative;
        &--1 {
            grid-column: span 1;
        }
        &--2 {
            grid-column: span 2;
        }
        &--3 {
            grid-column: span 3;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--4 {
            grid-column: span 4;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--5 {
            grid-column: span 5;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--6 {
            grid-column: span 6;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--7 {
            grid-column: span 7;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--8 {
            grid-column: span 8;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--9 {
            grid-column: span 9;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--10 {
            grid-column: span 10;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--11 {
            grid-column: span 11;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--12 {
            grid-column: span 12;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--13 {
            grid-column: span 13;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--14 {
            grid-column: span 14;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--15 {
            grid-column: span 15;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--16 {
            grid-column: span 16;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--17 {
            grid-column: span 17;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--18 {
            grid-column: span 18;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--19 {
            grid-column: span 19;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--20 {
            grid-column: span 20;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--21 {
            grid-column: span 21;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--22 {
            grid-column: span 22;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--23 {
            grid-column: span 23;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--24 {
            grid-column: span 24;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--25 {
            grid-column: span 25;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--26 {
            grid-column: span 26;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--27 {
            grid-column: span 27;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--28 {
            grid-column: span 28;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--29 {
            grid-column: span 29;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--30 {
            grid-column: span 30;
            @include r(1280) {
                grid-column: span 4;
            }
        }
        &--31 {
            grid-column: span 31;
            @include r(1280) {
                grid-column: span 4;
            }
        }


        &--m-auto {
            @include r(1280) {
                grid-column: auto;
            }
        }
        &--m-2 {
            @include r(1280) {
                grid-column: span 2;
            }
        }
    }
}
