// Colors
$light: #F3F2F3;
$dark: #101010;
$grey: #575757;

$dark-bg: #1A1A1A;
// Fonts
$font-book: 'FuturaBookC', 'Roboto', 'Arial', sans-serif;
$font-medium: 'FuturaMediumC', 'Roboto', 'Arial', sans-serif;