.body {
    font-size: rem(26);
    line-height: 1.5;
    background-color: $light;
    font-family: $font;
    color: $dark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: rem(65);
    padding-right: rem(65);
    @include r(1920) {
        padding-left: rem(45);
        padding-right: rem(45);
        font-size: rem(22);
    }
    @include r(1280) {
        padding-left: rem(19);
        padding-right: rem(19);
        font-size: rem(18);
    }
}