.discription {
    font-size: rem(24);
    line-height: rem(32);
    display: block;
    color: var(--discription-color);
    @include r(1920) {
        font-size: rem(20);
        line-height: rem(30);
    }
    @include r(1280) {
        font-size: rem(16);
        line-height: rem(22);
    }
    &--dark {
        color: var(--main-text-color);
    }
    &--right {
        text-align: right;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: var(--discription-color);
        }
        & + a {
            margin-left: rem(53);
            @include r(1920) {
                margin-left: rem(37);
            }
            @include r(1280) {
                margin-left: rem(15);
            }
        }
    }
}
