.link {
    font-size: rem(65);
    color: inherit;
    text-decoration: none;
    display: block;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    line-height: rem(74);
    padding-top: rem(20);
    padding-bottom: rem(20);
    position: relative;
    @include r(1920) {
        font-size: rem(45);
        line-height: rem(51);
        padding-bottom: rem(10);
    }
    @include r(1280) {
        font-size: rem(16);
        line-height: rem(22);
        padding-top: 0;
        padding-bottom: rem(5);
        font-weight: 400;
        text-transform: none;
    }
    &--name {
        color: var(--title-color);
        @include r(1280) {
            font-weight: 600;
            font-size: rem(16);
        }
    }

    &--active {
        &:after {
            position: absolute;
            top: calc(100% - 5px);
            height: 5px;
            display: block;
            background-color: var(--main-text-color);
            width: 100%;
            left: 0;
            content: "";
            @include r(1280) {
                top: calc(100% - 2px);
                height: 2px;
            }
        }
    }
}

a.link {
    &:hover {
        color: var(--discription-color);
    }
}
