.nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    @include r(1280) {
        * {
            flex-basis: 0;
            flex-grow: 1;
            text-align: center;
            &:first-of-type {
                text-align: left;
            }
            &:last-of-type {
                text-align: right;
            }
        }
    }
}
