.gallery {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: rem(54) rem(57);
    @include r(1920) {
        gap: rem(38) rem(38);
    }
    @include r(1280) {
        gap: rem(22);
        grid-template-columns: minmax(0, 1fr);
    }
    .gallery-item {
        display: block;
        color: inherit;
        text-decoration: none;
        margin: 0;
        &:hover {
            opacity: 0.7;
        }
        @include r(1920) {
            grid-column: span 2;
        }
    }
    &__picture {
        display: block;
        width: 100%;
        height: auto;
    }
    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
    &__discription {
        font-size: rem(26);
        line-height: rem(40);
        margin-bottom: rem(34);
        @include r(1920) {
            font-size: rem(22);
            line-height: rem(36);
            margin-bottom: rem(30);
        }
        @include r(1280) {
            margin-bottom: rem(22);
            font-size: rem(16);
            line-height: rem(22);
        }
    }
}
