<!DOCTYPE html>
<html lang="ru">

<head>
    <title>События</title>
    @@include("../blocks/modules/head/head.html")
</head>

<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <hr class="separator">
        <section class="section pt-81 ptt-61 ptm-33 pb-31 pbt-23 pbm-0">
            <div class="columns">
                <div class="columns__column columns__column--12">
                    <a href="./index.html#events" class="title mb-11 mbt-14 mbm-20">
                        Заметки
                    </a>
                    <p class="discription mb-71 mbt-51 mob-hidden">
                        Здесь собраны проекты и макулатура
                    </p>
                    @@include("../blocks/modules/categories/categories.html")
                </div>
                <div class="columns__column columns__column--19">
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                    <a href="./post.html" class="article-link">
                        <p class="article-link__discription">
                            Образование
                        </p>
                        <h3 class="article-link__title">
                            2020 Интенсив Сергея Карпова
                        </h3>
                    </a>
                </div>
            </div>
        </section>
        <hr class="separator">
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>