<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Одиночный проект</title>
    @@include("../blocks/modules/head/head.html")
</head>

<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <hr class="separator">
        <section class="section pt-38 ptt-22 pb-75 pbt-73 ptm-26 pbm-50">
            <div class="mb-40 mbt-37 mbm-32">
                <a href="./" class="link-back">
                    Назад
                </a>
            </div>
            <div class="columns">
                <div class="columns__column columns__column--12">
                    <p class="discription mb-20 mbt-15 ">
                        Имя Автора
                    </p>
                    <a href="./projects.html" class="title mb-30 mbm-17">
                        Аукцион «Фотографы - врачам»
                    </a>
                    <time class="discription mb-40" datetime="2001-05-15 19:00">
                        15 Июня 2020
                    </time>
                    <nav class="tags mb-40 mob-hidden">
                        <a href="" class="tags__tag">#самогон</a>
                        <a href="" class="tags__tag">#типы</a>
                        <a href="" class="tags__tag">#аквамен</a>
                        <a href="" class="tags__tag">#ЯМЫГеннадий</a>
                        <a href="" class="tags__tag">#гдежегдежевотжетут</a>
                    </nav>
                    <div class="mob-hidden">
                        @@include("../blocks/modules/share/share.html")
                    </div>
                </div>
                <div class="columns__column columns__column--19">
                    <div class="editor editor--post">
                        <p>
                            Lorem ipsum dolor sit amet <a href="">consectetur</a> adipisicing elit. Rem cum nemo neque
                            ut rerum
                            blanditiis <strong>laboriosam</strong> quod <b>nesciunt</b> voluptas vel amet non quo, vitae
                            ullam, animi labore
                            consequatur <i>perspiciatis</i> quos.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum nemo neque ut rerum
                            blanditiis laboriosam quod nesciunt voluptas vel amet non quo, vitae ullam, animi labore
                            consequatur perspiciatis quos.
                        </p>
                        <h1>
                            Заголовок H1 в несколько длинных строк, чтобы можно было проверить перенос, как он выглядит
                            и все такое
                        </h1>
                        <h2>
                            Заголовок H2 в несколько длинных строк, чтобы можно было проверить перенос, как он выглядит
                            и все такое
                        </h2>
                        <h3>
                            Заголовок H3 несколько длинных строк, чтобы можно было проверить перенос, как он выглядит
                            и все такое
                        </h3>
                        <h4>
                            Заголовок H4 в несколько длинных строк, чтобы можно было проверить перенос, как он выглядит
                            и все такое
                        </h4>
                        <h5>
                            Заголовок H5 в несколько длинных строк, чтобы можно было проверить перенос, как он выглядит
                            и все такое
                        </h5>
                        <h6>
                            Заголовок H6 в несколько длинных строк, чтобы можно было проверить перенос, как он выглядит
                            и все такое
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad libero commodi
                            praesentium eos dolore repellat aut. Iste iusto nobis, enim nihil, cum, culpa animi debitis
                            obcaecati placeat alias magnam.
                            Neque placeat at nesciunt! Blanditiis assumenda aut repudiandae explicabo voluptas ducimus
                            atque minus? Aut esse ducimus minima eum eaque, cumque facere accusantium repellendus
                            soluta, quas architecto repudiandae aliquam eos quaerat.
                        </p>
                        <figure>
                            <picture>
                                <source srcset="https://via.placeholder.com/1280x800" media="(max-width: 1280px)">
                                <source srcset="https://via.placeholder.com/1920x1080">
                                <img srcset="https://via.placeholder.com/1920x1080" alt="Подпись к фото">
                            </picture>
                            <figcaption>
                                Короткая аннотация к фотографии, Just in case
                            </figcaption>
                        </figure>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque veritatis dolores possimus
                            at quae. Animi, sit provident adipisci explicabo magnam libero reprehenderit assumenda
                            placeat ad deserunt! Reprehenderit impedit vitae inventore.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <hr class="separator">
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>