<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Проекты</title>
    @@include("../blocks/modules/head/head.html")
</head>

<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--border pt-70 ptt-50 ptm-30 pb-100 pbt-70 pbm-0">
            <div class="columns">
                <div class="columns__column columns__column--12">
                    <a href="./projects.html" class="title mb-11 mbt-14 mbm-20">
                        Проекты и серии
                    </a>
                    <p class="discription">
                        Здесь собраны проекты и макулатура
                    </p>
                </div>
                <div class="columns__column columns__column--19">
                    <div class="articles">
                        <div class="articles__content">
                            <a href="./single-project.html" class="article-post">
                                <picture class="article-post__picture">
                                    <img src="https://via.placeholder.com/1920x1080" alt="Похождения неистового Игната"
                                        class="article-post__img">
                                </picture>
                                <h3 class="article-post__title">
                                    Похождения неистового Игната где-т
                                </h3>
                                <p class="article-post__discription">
                                    Жизнь коммуны в Махачкале, посиделки, коты, генераторы и прочие забавности.
                                </p>
                            </a>
                            <a href="./single-project.html" class="article-post">
                                <picture class="article-post__picture">
                                    <img src="https://via.placeholder.com/1920x1080" alt="Похождения неистового Игната"
                                        class="article-post__img">
                                </picture>
                                <h3 class="article-post__title">
                                    Похождения неистового Игната по улицам Махачкалы в среду, в четверг и вообще всегда.
                                </h3>
                                <p class="article-post__discription">
                                    Жизнь коммуны в Махачкале, посиделки, коты, генераторы и прочие забавности.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>