.tags {
    font-size: rem(26);
    &--article {
        font-size: rem(22);
    }
    &__tag {
        color: var(--discription-color);
        text-decoration: none;
        display: inline-block;
        margin-right: rem(10);
        line-height: rem(38);
        @include r(1920) {
            line-height: rem(28);
            font-size: rem(22);
        }
        @include r(1280) {
            font-size: rem(18);
            line-height: rem(24);
        }
    }
}
