.title {
    font-size: rem(65);
    color: inherit;
    text-decoration: none;
    display: block;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    line-height: rem(74);
    @include r(1920) {
        font-size: rem(45);
        line-height: rem(51);
    }
    @include r(1280) {
        font-size: rem(30);
        font-weight: 500;
        line-height: rem(30);
    }

    &:hover {
        color: $grey;
    }
}
