.articles {
    &__content {
        display: grid;
        gap: rem(57);
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        @include r(1920) {
            gap: rem(39);
        }
        @include r(1280) {
            gap: rem(30);
            grid-template-columns: minmax(0, 1fr);
        }
    }
}
